body {
    font-family: 'Inter', sans-serif;
    background-color: #e0f4f5;
    margin: 0px;
}

.header {
    background-color: #033540;
}

.header__el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/***** NAVIGATION *****/
.menu__liste 
{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__el {
    list-style: none;
}

.el__lien {
    color: #e0f4f5;
    text-decoration: none;
    display: block;
}

.menu__el--active a {
    text-decoration: underline;
}

.el__lien:hover,
.el__lien:focus {
    color: #033540;
    background-color: #e0f4f5;
}

.avatar__img {
    width: 40px;
    vertical-align: middle;
    margin-left: 3px;
    border-radius: 50%;
}


/* html {
    background: url("../images/grille.png") no-repeat center center fixed;
    background-size: cover;
}*/

/***** MAIN *****/
.main {
    margin-left: auto;
    width: 90%;
    margin-right: auto;
    color: #015366;
}

.redaction {
    line-height: 1.4;
}

.avatar__big {
    width: 19rem;
    object-fit: contain;
    border-radius: 30px;
}
.avatar__big {
    box-shadow: 10px 10px 30px 3px #8da8aa;
}

.illustration__big {
    width: 15rem;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px #8da8aa);
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.credit__lien:visited, .credit__lien:active, .credit__lien:hover {
    color: #015366;
    font-weight: bold;
}

/***** CITATION  *****/
figure {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

blockquote {
    padding: 0px;
    margin: 0px;
}

.citation__contenu {
    line-height: 1.4;
    font-style: italic;
}

/***** BOUTON CITATION *****/
.btn {
    margin: 0;
    margin-top: 15px;
    padding: 3px 10px;
    border: 1px solid #033540;
    background-color: #A7D1D2;
    color: #033540;
    border-radius: 15px;
}

.btn:hover {
    border: 1px solid #033540;
    background-color: #033540;
    color: #A7D1D2;
}

.btn {
    transition: all 0.3s;
}

button:hover,
a:hover {
    cursor: pointer;
}

.contact,
.redirection {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.redirection {
    color:#8eb4b4;
    fill: #8eb4b4;
}

.contact {
    font-size: 16px;
    fill: #e0f4f5;
}

.contact svg {
    width: 25px;
    height: 25px;
}

.contact__txt {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.redirection__txt {
    margin-right: 5px;
    text-decoration: underline;
}

.contact:hover,
.redirection:hover {
    text-decoration: underline;
}
.redirection:hover, .redirection:hover svg {
    color:#015366;
    fill:#015366;
}

.redirection__icon {
    width: 16px;
}

.div__redaction .illustration__big {
    margin-left: auto;
    margin-right: auto;
}

/***** TITRE *****/
.title--big {
    font-size: 32px;
    line-height: 1.4;
}

.title--medium {
    font-size: 24px;
    line-height: 1.4;
}

/***** FOOTER *****/
.footer {
    margin: 0px;
    margin-top: 1rem;
    background-color: #033540;
    padding: 40px;
}

.footer__small {
    display: flex;
    align-items: center;
    justify-content: right;
}

.subNav {
    list-style: none;
    margin: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
}

.subNav li {
    margin: 10px;
}

.subNav__el a,
.reseaux__el a {
    color: #e0f4f5;
}

.credits {
    display: flex;
    color: #A7D1D2;
    margin-right: 1rem;
    margin-top: 0.5rem;
    justify-content: right;
}

.credits a {
    color: #90acad;
}

.reseaux {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reseaux__txt {
    /* cacher le texte */
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.reseaux__icon {
    fill: #e0f4f5;
}

.footer svg:hover {
    fill: #90acad;
}

.contact:hover svg {
    fill: #90acad;
}

.liens__el a:hover {
    color: #90acad;
}

.footer__small a:hover {
    color: #cbeaeb;
}

footer {
    clear: both;
    position: relative;
    top: 25px;
}

.liens__el {
    display: inline-flex;
}

.footer__liens {
    display: inline-flex;
    align-items: center;
}

.projets {
    list-style-type: decimal-leading-zero;
}

.projet {
    margin-bottom: 50px;
}



/*****************************
******************************

        DARK MODE + BURGERMENU

******************************
*****************************/
.btn__burgermenu {
    z-index: 11;
}
.btn__nav {
    border: none;
    background-color: transparent;
    padding: 5px;
    margin-left: 10px;
}

.btn__nav svg {
    width: 32px;
    height: 32px;
    fill:#e0f4f5;
}

.btn__nav svg:hover {
    fill:white;
}

.svg--inactive {
    display: none;
}

.darkmode {
    background-color: #001418;
}

.darkmode main {
    color:#e0f4f5;
}
.darkmode .header, .darkmode .footer, .darkmode .menu__liste {
    background-color: #184e58;
}

.darkmode .redirection:hover, .darkmode .redirection:hover svg {
    color:#e0f4f5;
    fill: #e0f4f5;
}

.darkmode .illustration__big, .darkmode .avatar__big  {
    filter: drop-shadow(0 0 10px #092d35);
    box-shadow: none;
}






/*****************************
******************************

        MEDIA QUERIES

******************************
*****************************/


/*******************/
/* MEDIA MIN-WIDTH */
/*******************/

@media (min-width: 600px) {
    .avatar__img {
        width: 50px;
    }

    .title--big {
        font-size: 46px;
    }

    .title--medium {
        font-size: 34.5px;
    }

    .redaction,
    .citation__contenu {
        font-size: 18px;
        max-width: 50ch;
    }

    .btn {
        font-size: 17px;
        padding: 5px 15px;
    }

    .main, .footer__el, .header__el {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .liens__el {
        display: flex;
    }
}

@media (min-width: 820px) {

    /*.main--inspirations {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }*/

    .avatar__img {
        width: 55px;
    }

    footer {
        clear: both;
        position: relative;
        top: 90px;
    }

    .contact__txt {
        display: none;
    }

    .main, .footer__el, .header__el {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .el__lien{
        padding: 16px 25px;
    }

    .footer__liens {
        display: initial;
        flex-wrap: wrap;
    }

    .btn__burgermenu {
        display: none;
    }
}

/*
@media (min-width: 900px) {
    .main--inspirations {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .main, .footer__el, .header__el {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media (min-width: 1000px) {
    /*.main--inspirations {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }*/

    .div__redaction {
        display: flex;
        justify-content: space-between;
    }

    .redaction,
    .citation__contenu {
        font-size: 18px;
        max-width: 500px;
    }
    .main, .footer__el, .header__el {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .main--credits {
        max-width: 500px;
    }
    .main--projets {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    .el__lien {
        padding: 21px 30px;
    }

    .avatar__img {
        width: 65px;
    }

    .title--big {
        font-size: 55px;
    }

    .title--medium {
        font-size: 38.5px;
    }

    .redaction,
    .citation__contenu {
        font-size: 21px;
        max-width: 50ch;
    }

    .main, .footer__el, .header__el {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact__txt {
        display: initial;
        margin-left: 10px;
        position: relative;
        visibility: visible;
        cursor: pointer;
    }

    .main--credits {
        max-width: 600px;
    }
}

@media (min-width: 1600px) {
    .main, .footer__el, .header__el {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .main--credits {
        max-width: 700px;
    }

    .main--projets {
        max-width: 600px;
    }
}


/*******************/
/* MEDIA MAX-WIDTH */
/*******************/
@media (max-width: 400px) {

}
@media (max-width: 820px) {
    .menu__liste {
        background-color: #033540;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
    }
    .menu__el {
        text-align: center;
        vertical-align: middle;
        font-size: 2.2rem;
        line-height: 1.4;
        margin-bottom: 25px;
        width: 350px;
    }
    .el__lien {
        padding: 20px;
        border-radius: 4px;
    }
    .menu__liste {
        transition: all 0.2s ease-in-out;
    }
    .menu__liste--active {
        transform: translateX(0);
        opacity: 1;
        z-index: 10;
    }
    .btn__burgermenu .svg--menuactive{
        transform: scale(1.5);
        position: fixed;
        top: 12px;
        right: 8px;
    }
    .svg__burgermenu {
        margin-right: 10px;
    }
}





/*****************************
******************************

        UI-KIT

******************************
*****************************/
.main--uikit {
    max-width: 600px;
}
.uikit__liste--normal {
    margin-left: -40px;
    display: flex;
    list-style: none;
}
.el__lien--uikit {
    color: #e0f4f5;
    text-decoration: none;
    display: block;
    background-color: #033540;
    padding: 16px 25px;
}
.el__lien--hover {
    color: #033540;
    background-color: #e0f4f5;
}
.el__lien--active {
    text-decoration: underline;
}

.uikit__liste--burgermenu {
    list-style: none;
    margin-left: -40px;
}
.el--burgermenu > .el__lien--uikit {
    width: 350px;
    padding: 20px;
    text-align: center;
    font-size: 2.2rem
}

.uikit__bouton {
    border: none;
    background-color: transparent;
}
.uikit__svg {
    width: 60px;
    height: 60px;
    background-color:#033540;
    fill: #e0f4f5;
}

.uikit__title--h1 {
    font-size: 55px;
    line-height: 1.4;
}
.uikit__title--h2 {
    font-size: 38.5px;
    line-height: 1.4;
}
.uikit__paragraphe {
    font-size: 21px;
    max-width: 50ch;
}
.contenu__colors {
    display: flex;
    flex-wrap: wrap;
}
.square {
    margin: 5px;
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.color {
    vertical-align: middle;
    text-align: center;
}
.contenu__colors > .square:nth-child(0n+1) { background-color: #e0f4f5; border: 1px solid black; }
.contenu__colors > .square:nth-child(0n+2) { background-color: #033540; border: 1px solid #033540; color: #e0f4f5;  }
.contenu__colors > .square:nth-child(0n+3) { background-color: #015366; border: 1px solid #015366;color: #e0f4f5 }
.contenu__colors > .square:nth-child(0n+4) { background-color: #A7D1D2; border: 1px solid #A7D1D2; }
.contenu__colors > .square:nth-child(0n+5) { background-color: #8eb4b4; border: 1px solid #8eb4b4;}
.contenu__colors > .square:nth-child(0n+6) { background-color: #90acad; border: 1px solid #90acad;}
.contenu__colors > .square:nth-child(0n+7) { background-color: #cbeaeb; border: 1px solid #cbeaeb;}
.contenu__colors > .square:nth-child(0n+8) { background-color: #001418; border: 1px solid #001418;color: #e0f4f5;}
.contenu__colors > .square:nth-child(0n+9) { background-color: #184e58; border: 1px solid #184e58;color: #e0f4f5;}

.contenu__footer {
    display: flex;
    align-items: center;
}
.footer__elements {
    margin: 5px;
    fill: #e0f4f5;
    color: #e0f4f5;
    background-color: #092d35;
    padding: 5px;
}
.footer__elements:hover {
    fill: #e0f4f5;
    color: #e0f4f5;
}
.footer__elements:hover {
    color: #90acad;
    fill: #90acad;
    cursor: pointer;
}

.uikit__credits a, .uikit__credits a:visited{
    color: #90acad;
}
.uikit__credits a:hover {
    color: #cbeaeb;
}
.uikit__btn {
    margin: 0;
    font-size: 17px;
    margin-top: 15px;
    padding: 3px 10px;
    border: 1px solid #033540;
    background-color: #A7D1D2;
    color: #033540;
    border-radius: 15px;
}
.uikit__btn--hover {
    margin: 0;
    font-size: 17px;
    margin-top: 15px;
    padding: 3px 10px;
    border-radius: 15px;
    border: 1px solid #033540;
    background-color: #033540;
    color: #A7D1D2;
}
.uikit__liste--perso {
    list-style-type: decimal-leading-zero;
}

@media (max-width: 400px)  {
    .el--burgermenu > .el__lien--uikit {
    width: 300px;
    padding: 20px;
    text-align: center;
    font-size: 2.2rem
    }
}